
.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding-top: 10px;
}

.footer ul{
    display: flex;
    gap: 20px;
}

.footer ul li{
    list-style: none;
    display: inline-block; 
}

@media (max-width: 600px){
    .footer{
        display: block;
        text-align: center;
    }
    p,
    .footer ul li{
        margin: 5px 10px;
        font-size: 14px;
    }

    .footer ul{
        gap: 5px; 
        justify-content: space-around;
    }
}