

.campus{
    margin: 80px auto 0px auto;
    width: 90%;
    text-align: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width: 23%;
    border-radius: 10px;
}

@media (max-width: 650px) {
    .campus{
        width: 100%;
    }
    .gallery{
        flex-wrap: wrap;  
        gap: 15px;
    }
    .gallery img{
        width: 100%;
    }
}